Hashtag = #<%= @hashtag %>

<% @tweets.each do |tweet| %>
  <div style="display: block; margin-top: 5px;">
    <h3>Tweet by : <%= tweet.account.username %></h3>
    <p>Tweet : <%= tweet.text %></p>
    <p>Likes : <%= tweet.likes.count %></p>
    <p>Write the <%= tweet.created_at %></p>
    <a href="/tweet/<%= tweet.id %>/like" style="color: white;">Like the tweet</a>
  </div>
<% end %>