<div class="tweet">
  <div class="user">
    <div class="avatar">
      <div class="img">
        <% if tweet.account.avatar %>
          <img src="<%= tweet.account.avatar %>" alt="Avatar" width="100%" height="100%">
        <% else %>
          <img src="<%= asset_path('avatar.png') %>" alt="Avatar" width="100%">
        <% end %>
      </div>
    </div>
    <p>
      <a href="account/<%= tweet.account.username %>">
        <%= Account.get_name(tweet.account.firstname, tweet.account.lastname) %>
        <span>@<%= tweet.account.username %></span>
      </a>
      <span class="date_tweet"><%= distance_of_time_in_words(Time.now, tweet.created_at) %> ago</span>
    </p>
  </div>
  <div class="text">
     <%= tweet.text %>
  </div>
  <div class="infos">
    <span>
      <i class="fa fa-heart" data-tweet="<%= tweet.id %>"></i>
      <span id="count_<%= tweet.id %>" class="tweet_count"><%= tweet.likes.count %></span>
    </span>
  </div>

</div>
