We found <%= @tweets.count %> tweets <br>
We found <%= @accounts.count %> accounts <br>


<div style="width: 40%; display: inline-block;">
  <!-- Tweets -->
  <% @tweets.each do |tweet| %>
    <div style="display: block; margin-top: 5px;">
      <h3>Tweet by : <%= tweet.account.username %></h3>
      <p>Tweet : <%= tweet.text %></p>
      <p>Likes : <%= tweet.likes.count %></p>
      <p>Write the <%= tweet.created_at %></p>
      <a href="/tweet/<%= tweet.id %>/like" style="color: white;">Like the tweet</a>
    </div>
  <% end %>
</div>

<div style="width: 40%; display: inline-block;">
  <!-- Accounts -->
  <% @accounts.each do |account| %>
  <div style="display: block; margin-top: 5px;">
    <h3>Username : <a href="/account/<%= account.username %>"><%= account.username %></a></h3>
    <p>Name :<%= Account.get_name(account.firstname, account.lastname) %></p>
  </div>
  <% end %>
</div>