<h1>Connect</h1>

<!-- Messages -->
<% if @notice %>
  <%= @notice %>
<% end %>

<!-- Form -->
<%= form_for :account do |f| %>

  <%= f.label :username, "Username" %>
  <%= f.text_field :username %> <br />

  <%= f.label :password %>
  <%= f.password_field :password %> <br />

  <%= f.submit "Connect on Twitter" %>

<% end %>